# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/

# macOS
.DS_Store
*.pem

# Environment variables
.env
.env.*
!.env.example
frontend/.env
backend/.env

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android

# Build and cache
build/
.cache/

app-example
